/* ---------MEDIA QUERY STAR WITH STRIPS ICON HERO AND PORTFOLIO SECTION--------- */

@media screen and (min-width: 400px) {
     .icon-with-stripes::before {
        left: 28%; 
      }

      .icon-with-stripes::after {
       right: 28%;
      }
  }

  @media screen and (min-width: 540px) {
     .icon-with-stripes::before {
        left: 35%; 
        width: 60px;
      }

      .icon-with-stripes::after {
       right: 35%;
       width: 60px;
      }
  }

 

  @media screen and (min-width: 900px) {
     .icon-with-stripes::before {
        left: 39%; 
      }
    

      .icon-with-stripes::after {
       right: 39%;
      }
  }


  @media screen and (min-width: 1024px) {
     .icon-with-stripes::before {
        left: 40%; 
      }

      .icon-with-stripes::after {
       right: 40%;
      }
  }

  @media screen and (min-width: 1440px) {
     .icon-with-stripes::before {
        left: 41%;
        width: 90px; 
      }

      .icon-with-stripes::after {
       right: 41%;
       width: 90px; 
      }
  }


/* ---------/MEDIA QUERY STAR WITH STRIPS ICON HERO AND PORTFOLIO SECTION--------- */






