:root {
    --ms_primary-color: rgb(26 188 156 );
    --ms_secondary-color: hsl(210deg 29.03% 24.31%);
    --ms_secondary-color-light: hsl(209.41deg 30.54% 32.75%);
    --ms_font-color:white;
}

/* COMMON */
img {
    max-width: 100%;
}

.ms_card {
    height: 100%;
    width: 100%;
    border: none;

}

.ms_card img {
    border-radius: 10px;
}

.ms_wrapper {
    width: 65%;
    max-width: 1024px;
    margin: 0 auto;
}

.icon-with-stripes {
    position: relative;
}


.icon-with-stripes .fa-star {
    color: white;
  }
  
.icon-with-stripes::before, 
.icon-with-stripes::after {
    content: '';
    width: 70px;
    height: 4px;
    background-color: white;
    position: absolute;
    top:50%;
}

.icon-with-stripes::before {
    left: 20%; 
  }

  .icon-with-stripes::after {
   right: 20%;
  }


  /* ---------MEDIA QUERY STAR WITH STRIPS ICON--------- */

  @media screen and (min-width: 400px) {
    .icon-with-stripes::before {
        left: 28%; 
      }
    
      .icon-with-stripes::after {
       right: 28%;
      }
  }

  @media screen and (min-width: 540px) {
    .icon-with-stripes::before {
        left: 35%; 
      }
    
      .icon-with-stripes::after {
       right: 35%;
      }
  }

  @media screen and (min-width: 900px) {
    .icon-with-stripes::before {
        left: 39%; 
      }
    
      .icon-with-stripes::after {
       right: 39%;
      }
  }


  @media screen and (min-width: 1024px) {
    .icon-with-stripes::before {
        left: 40%; 
      }
    
      .icon-with-stripes::after {
       right: 40%;
      }
  }

  @media screen and (min-width: 1440px) {
    .icon-with-stripes::before {
        left: 42%; 
      }
    
      .icon-with-stripes::after {
       right: 42%;
      }
  }

  @media screen and (min-width: 2560px) {
    .icon-with-stripes::before {
        left: 45%; 
      }
    
      .icon-with-stripes::after {
       right: 45%;
      }
  }
/* ---------/MEDIA QUERY STAR WITH STRIPS ICON--------- */

/* utilities */

/* HEADER */


/* navbar */

.wrapper-nav {
    background-color: var(--ms_secondary-color)
}
.ms_navbar {
    min-height: 80px;
   
}

.ms_navbar-brand {
    color:var(--ms_font-color);
    text-decoration: none;
    font-weight: bold;
}

.ms_nav-link {
    color: white !important;
}

.ms_hamburger {
    border: 1px solid white !important;
}

span img {
    width: 25px;
    height: 30px;
}

/* hero */
.hero-section {
    background-color: var(--ms_primary-color);
    color: white;
}


.hero-section img {
    width: 200px;
}

/* MAIN */

/* portfolio section */


/* about section */
.about {
    background-color: var(--ms_primary-color);
    color: white;
}

.about .icon-with-stripes::before, 
.icon-with-stripes::after {
    content: '';
    width: 50px;
    height: 4px;
    top:50%;
}
.about .icon-with-stripes::before {
    left: 18%; 
}

  .about .icon-with-stripes::after {
   right: 18%;
}



/* ---------MEDIA QUERY STAR WITH STRIPS ICON ABOUT SECTION--------- */

@media screen and (min-width: 500px) {
    .about .icon-with-stripes::before, 
.icon-with-stripes::after {
    content: '';
    width: 70px;
    height: 4px;
    top:50%;
  }

.about .icon-with-stripes::before {
    left: 25%; 
  }

  .about .icon-with-stripes::after {
   right: 25%;
  }
}


@media screen and (min-width: 768px) {
    .about .icon-with-stripes::before, 
.icon-with-stripes::after {
    content: '';
    width: 70px;
    height: 4px;
    top:50%;
  }

.about .icon-with-stripes::before {
    left: 32%; 
  }

  .about .icon-with-stripes::after {
   right: 32%;
  }
}


@media screen and (min-width: 1024px) {
    .about .icon-with-stripes::before, 
.icon-with-stripes::after {
    content: '';
    width: 70px;
    height: 4px;
    top:50%;
  }

.about .icon-with-stripes::before {
    left: 35%; 
  }

  .about .icon-with-stripes::after {
   right: 35%;
  }
}

@media screen and (min-width: 1440px) {
    .about .icon-with-stripes::before, 
.icon-with-stripes::after {
    content: '';
    width: 90px;
    height: 4px;
    top:50%;
  }

.about .icon-with-stripes::before {
    left: 38%; 
  }

  .about .icon-with-stripes::after {
   right: 38%;
  }
}
/* ---------/MEDIA QUERY STAR WITH STRIPS ICON ABOUT SECTION--------- */

/* contact me */
.contact-me {
    /* debug */
    min-height: 500px
}

.form-div {
    /* debug */
    border: 2px solid black;
    min-height: 500px;
    width: 100%;
}
/* FOOTER */

.footer-top {
    background-color: var(--ms_secondary-color-light)
    /* debug */
}

footer {
    background-color: var(--ms_secondary-color);

 
}