:root {
    --ms_primary-color: rgb(26 188 156 );
    --ms_secondary-color: hsl(210deg 29.03% 24.31%);
    --ms_secondary-color-light: hsl(209.41deg 30.54% 32.75%);
    --ms_font-color:white;
}

/* COMMON */
img {
    max-width: 100%;
}

.ms_card {
    height: 100%;
    width: 100%;
    border: none;
}

.ms_card img {
    border-radius: 10px;
}

.ms_wrapper {
    width: 65%;
    max-width: 1024px;
    margin: 0 auto;
}

.icon-with-stripes {
    position: relative;
}


.icon-with-stripes .fa-star {
    color: white;
  }
  
.icon-with-stripes::before, 
.icon-with-stripes::after {
    content: '';
    width: 70px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 50%;
}

.icon-with-stripes::before {
    left: 20%; 
  }

  .icon-with-stripes::after {
   right: 20%;
  }


/* utilities */

/* HEADER */


/* navbar */

.wrapper-nav {
    background-color: var(--ms_secondary-color)
}
.ms_navbar {
    min-height: 80px;
   
}

.ms_navbar-brand {
    color:var(--ms_font-color);
    text-decoration: none;
    font-weight: bold;
}

.ms_nav-link {
    color: white !important;
}

.ms_hamburger {
    border: 1px solid white !important;
}

span img {
    width: 25px;
    height: 30px;
}

/* hero */
.hero-wrapper {
    background-color: var(--ms_primary-color);
    color: white;
}


.hero-section img {
    width: 200px;
}

/* MAIN */

/* portfolio section */

.portfolio .fa-star {
    color: black;
}

.portfolio .icon-with-stripes::before, 
.portfolio .icon-with-stripes::after {
    background-color: black;
}



/* about section */

/* star icon-about section */
.about {
    background-color: var(--ms_primary-color);
    color: white;
}


/* contact me */
.ms_form-control {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: 0;
}

.ms_form-control:focus {
    box-shadow: none;
}

.ms_button-send {
    background-color: var(--ms_primary-color);
    border: none;
}

/* star icon- contact me*/
.contact-me .fa-star {
    color: black;
}

.contact-me .icon-with-stripes::before, 
.contact-me .icon-with-stripes::after {
    background-color: black;
}


/* FOOTER */

.footer-top {
    background-color: var(--ms_secondary-color-light)
}

.footer-top .card {
    background-color: inherit;
    color: white;
}

footer ul {
    list-style-type: none;
}

.social-icons a {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-top .col-12:nth-of-type(3) a {
    text-decoration: none;
    color: var(--ms_primary-color);
}

footer {
    background-color: var(--ms_secondary-color);
}
