:root {
    --ms_primary-color: rgb(26 188 156 );
    --ms_secondary-color: hsl(210deg 29.03% 24.31%);
    --ms_secondary-color-light: hsl(209.41deg 30.54% 32.75%);
}

/* COMMON */
img {
    max-width: 100%;
}

.card {
    /* debug */
    background-color: red;
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 70%;
    max-width: 1024px;
    margin: 0 auto;
}

/* utilities */

/* HEADER */

.navbar {
    min-height: 80px;
    background-color: var(--ms_secondary-color)
}

.hero-section {
    min-height: 500px;
    background-color: var(--ms_primary-color)
}

/* MAIN */

/* portfolio section */
[class*=col-] {
    /* debug */
    border: 2px solid black;
    min-height: 200px;
}


/* about section */
.about {
    background-color: var(--ms_primary-color);
    /* debug */
}

/* contact me */
.contact-me {
    /* debug */
    min-height: 500px
}

.form-div {
    /* debug */
    border: 2px solid black;
    min-height: 500px;
    width: 100%;
}
/* FOOTER */

.footer-top {
    background-color: var(--ms_secondary-color-light)
    /* debug */
}

.footer-bottom {
    background-color: var(--ms_secondary-color);
    /* debug */
    min-height: 150px;
}